body
{
	min-height: 100vh;
	margin:0;
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(to bottom right, #879a9f, #b2ccd2);
	font-family: 'Cormorant Garamond', serif;
	color: white;
	padding: 0 5em;
 }

main
{
	display:flex;
	flex-grow:1;
	flex-direction:column;
	justify-content: center;
}

footer
{
	margin: auto auto 5px auto;
	opacity: 0.6;
}

h1
{
	font-size: 64px;
}

h2
{
	font-size: 24px;
	font-weight: normal;
	margin-top:0;
	margin-bottom:100px;
}

input[type="text"]
{
	background: transparent;
	outline: 0;
	border-width: 0 0 2px;
	border-color: #999;
	font-size: 24px;
	font-family: 'Cormorant Garamond', serif;
	color:white;
}

input[type="submit"]
{
	padding: 1em 2em;
	margin-top:2em;
	font-size: 16px;

	background-color: #4eb5f1;
	border-radius: 2em;

	border: none;

	font-weight: bold;
	color: white;
	font-family: 'Cormorant Garamond', serif;

	transition: all 0.2s;

	cursor: pointer;

}

input[type="submit"]:hover
{
	background-color:#4095c6;
}

